.ais-Hits-list, .ais-Menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ais-Menu-item {
    margin: 0.5em 0;
}

.ais-Menu-link {
    text-decoration: none;
    color: inherit;
}

.ais-Menu-count {
    font-size: small;
    border-radius: 4px;
    background-color: lightslategrey;
    color: white;
    padding: 0.2em 0.4em;
    margin-left: 0.2em;
}
